/* flashsale */
.body {
    position: relative;
    z-index: 2;
    width: 100%;
    height: calc(100% -200.3);
}
.flashsale {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 3;
}

.banner-right {
    position: fixed;
    top: 25%;
    right: 15%;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.banner-left {
    position: fixed;
    top: 25%;
    left: 15%;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
@media only screen and (max-width:1905px) {
    .banner-right {
       right: 10%;
    }
    .banner-left {
        left: 10%;
    }
}
@media only screen and (max-width:1650px) {
    .banner-right {
       right: 5%;
    }
    .banner-left {
        left: 5%;
    }
}

@media only screen and (max-width:1500px) {
    .banner-right {
       right: 0;
       margin-right: 0.5rem;
    }
    .banner-left {
        left: 0;
        margin-left: 0.5rem;
    }
}

@media only screen and (max-width:1350px) {
   .banner-right,.banner-left {
       display: none;
   }
}

/* end flashsale */
.carousel-item >img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.body-show {
    width: 100% !important;
    height: 100% !important;
    background: #ffe7ab url(../../Image/bg-v3.png)  center top;
}
.body-show::before {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    background: transparent url(../../Image/bg-top-v2.png) no-repeat center top;
}
.container {
    width: 100%;
    height: 100%;
    background: #f8f8f8;
}
.carousel-indicators > li {
    width: 10px !important;
    height: 10px !important;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: #ffe300 !important;
} 
.carousel-control-next-icon, .carousel-control-prev-icon {
    width: 30px !important;
    height: 30px !important;
}
/* col-inner */
.col-inner > .row {
    display: flex;
    justify-content: space-between;
}
.box-inner {
    display: flex !important ;
    align-items: center;
    margin: 1rem 0.3rem;
    background: white;
    padding: 0.75rem 0.4rem !important;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}
.box-inner > img {
    margin: 0.5rem ;
  

}
.inner-text {
    margin: 0 !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: flex-start;
}
.inner-bold {
    font-weight: 800;
    text-transform: uppercase;
    font-size: 0.85rem;
    font-family: Merriweather;
}
.inner-normal {
    font-size: 0.85rem;
    margin: 0.3rem 0;
}

/* product */
.product {
    background: #f8f8f8;
    width: 100%;
    height: 100%;
    z-index: 9;
    position: relative;
    padding: 1rem 0;
}
.head-product {
    width: 100%;
    background:#fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9;
    margin:1rem 0;
    padding: 1rem;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.head-product:hover {
    background: #ffe300;
}
.name-product {
    width: auto !important;
    position: relative;
    margin: 0 !important;
    font-weight: 700;
    
}
.float-left > a:hover {
    text-decoration: none;
    color: #000;
}
.float-right:hover {
    text-decoration: none;
}

.name-product >a {
    color: #000;
}
.triangle {
    width: 0;
    height: 0;
    border:26px solid transparent;
    border-left: 26px solid #000 !important;
    overflow: visible;
    position: absolute;
    top: 0;
    left: 100%;
}
/* product-item */
.product-item {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    background: #fff;
    transform: translateY(300px);
    -webkit-transform: translateY(300px);
    -moz-transform: translateY(300px);
    -ms-transform: translateY(300px);
    -o-transform: translateY(300px);
    opacity: 0;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.move-top {
    animation: moveTop 1s 2s forwards;
    -webkit-animation: moveTop 1s 0.2s forwards;
}
@keyframes moveTop {
 
100% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    opacity: 1;

}
}
.box-product {
    width: calc(100%/4);
    height: 100%;
    padding: 1.5rem 0.75rem;
    position: relative;
    text-align: start;
    cursor: pointer;

}

.product-link:hover {
    text-decoration: none;
}
.product-link > img {
    width: 100%;
    height: 100%;
    margin-bottom: 0.5rem;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
}
.product-link > img:hover {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}
.product-link .product-name {
    color: #000;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    overflow: hidden;
}
/* info product */
.info-product {
    padding: 0.5rem 0.75rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.product .product-item:nth-child(2) .box-product .info-product {
    min-height: 112px;
}
.product .product-item:nth-child(4) .box-product .info-product {
    min-height: 115px;
}
.product .product-item:nth-child(6) .box-product .info-product {
    min-height: 145px;
}
.product .product-item:nth-child(8) .box-product .info-product {
    min-height: 170px;
}
.product .product-item:nth-child(10) .box-product .info-product {
    min-height: 180px;
    
}



/* end info product */
.action-money .money:first-child {
    color: #bf081f;
    font-weight: 700;
    font-size: 0.9rem;
}
.action-money .money:first-child::after {
    content: 'đ';
    text-decoration: underline;
    margin-right: 0.3rem;
}
.action-money .money:nth-child(2) {
    color: #aaa;
    font-weight: 700;
    font-size: 0.9rem;
    text-decoration: line-through;
}
.action-money .money:nth-child(2)::after {
    content: 'đ';
    text-decoration: underline;
    margin-right: 0.3rem;
}
.sale {
    color: #bf081f;
}
.badge-product {
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 10rem;
    -webkit-border-radius: 10rem;
    -moz-border-radius: 10rem;
    -ms-border-radius: 10rem;
    -o-border-radius: 10rem;
    border-bottom-right-radius: 12px;
    position: absolute;
    top: 0;
    left: 0;
    background: #bf081f;
    color: #fff;
    z-index: 2;
}
.icon-heart {
    width: 50px;
    height: 50px;
    border: 1px solid;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color:  #ccccce;
    font-size: 1.2rem;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    margin: 0.5rem;
    opacity: 0;
    visibility: hidden;
    
}
.icon-heart:hover {
    background: #bf081f;
    color: #fff;
}
.box-product:hover .icon-heart {
    opacity: 1;
    visibility: visible;
}
/* responsive */
@media only screen and (max-width:992px) {
    .box-product {
        width: 50%;
    }
}
@media only screen and (max-width:560px) {
    .box-product {
        width: 100%;
    }
}
