.footer {
    width: 100%;
    background: #000;
    padding: 1rem 0.75rem ;
    position: relative;
    z-index: 99;

}
.footer > .container {
    background: #000 !important
}
.footer-item > a {
    color:#fff;
}
.footer-item >a:hover {
    color: #fff;
    text-decoration: none;
}
.footer-item > a h4 {
    margin: 0 !important;
}
.footer-box {
   padding: 0.25rem 0.375rem;
}
.footer-item > a img {
    width: 100%;
} 
.footer-item {
    list-style: disc !important;
    color:#fff
} 
.row .footer-box:last-child .footer-item{
    list-style: none !important;
}