.header {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.top {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    width: 100%;
}
/* header */
.header .head-top {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    padding: 0.5rem 8rem;
    background:#ec7e91;
    z-index: 9;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.remove-head {
    display: none !important;
}
.phone:hover , .shop-system:hover {
    text-decoration: none;
    color: #fff;
}
.phone {
    margin-right: 1.5rem;
}
.tel {
    color: #ffe300;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    
}
.phone , .shop-system {
    color: #fff;
}
/* responsvie */
    @media only screen and (max-width:680px) {
        .phone , .shop-system {
            font-size: 0.7rem;
        }
    }
    @media only screen and (max-width:590px) {
         
        .header .head-top {
            justify-content: center;
            padding: 0.5rem 5rem;
        }
    }
    @media only screen and (max-width:480px) {
         
        .shop-system {
            display: none;
        }
    }

/* end responsvie */
/* head-mid */
.head-mid {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background: #f7042c;
    padding: 0.5rem 5rem;
    z-index: 9;
}
.branch {
    display: flex;
    align-items: center;
    color: #fff;
    cursor: pointer; 
}
.branch:hover {
    text-decoration: none;
    color: #fff;
}
.icon-logo {
    font-size: 4rem;

}
.branch-logo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    margin-left: 0.3rem;
    

    
}
.branch-logo-content {
    font-size: 0.8rem;
    font-weight: 500;
    margin-top: 0.3rem;
}

.search {
    width: 30%;
    position: relative;
}
.search > input[type="text"] {
    width: 100%;
    padding: 0.8rem 5rem 0.8rem 0.5rem;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border: none;
    outline: none;
    font-style: italic;
    font-size: 1.2rem;
    font-weight: bold;
    
}
.search >input[type="text"]::placeholder {
    color: #ffe300;
    font-size: 1.2rem;
    font-weight: 700;
}
.icon-search {
    padding: 0.94rem 1.5rem;
    position: absolute;
    top: 0;
    right: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background: #ffe300;
    cursor: pointer;
}

/* list-header-mid */
.list-header-mid {
    display: flex;
    align-items: center !important;
    justify-content: flex-end;
   
  
}
.head-mid-item {
    display: flex;
    align-items: center;
   
    margin: 0 1rem;
    padding: 0.3rem 0.5rem;
    color: #fff;
}
.hotline , .accout {
    display: flex;
    flex-direction: column;
   
    margin: 0;
}
.icon-phone-sp ,.icon-user,.cart {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.3rem;
    position: relative;
    background: #ff5e01;
}
.fa-user,.fa-phone-alt,.fa-shopping-bag {
    font-size: 1.3rem;
}
.cart > a {
    color: #fff;
}
.cart > a:hover {
    color: #fff;
}
.cart-item {
    position: absolute;
    top: -29%;
    right: -2%;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background: #ffe300;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
}
.accout-link , .hotline-item {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 1.2rem;
}
.accout-link:hover , .hotline-item:hover {
    color: #fff;
    text-decoration: none;
}
.hotline > span ,.accout >span {
    font-size: 0.7rem;
}
.head-mid .search:nth-child(5) {
    display: none;
}
.list-menu {
    display: none;
}
.list-menu .list-menu-item > .fa-bars {
    color: #fff;
    font-size: 2.4rem;
}
.list-header-mid .head-mid-item {
    position: relative;
}
.action-mid .action-mid-item:first-child >span {
    border-bottom: 10px solid #fff;
    border-top: 10px solid transparent;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    z-index: 90;
    position: absolute;
    
}
.list-header-mid .head-mid-item:nth-child(3) .action-mid  .action-mid-item:first-child >span {
    position: absolute;
}

.list-header-mid .head-mid-item:nth-child(3) .action-mid {
    left: -100%;
    border: 1px solid;
    width: max-content;

}
.list-header-mid .head-mid-item .action-mid {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 10;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    box-shadow: 0px 1px 3px 0px #000;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.list-header-mid .head-mid-item:nth-child(2):hover .action-mid {
    opacity: 1;
    visibility: visible;
}

.list-header-mid .head-mid-item:nth-child(3):hover .action-mid {
    opacity: 1;
    visibility: visible;
}
.action-mid .action-mid-item {
    padding: 0.75rem 1rem;
    text-align: center;
    border-bottom: 1px solid #cfcfd4;
    background: #ffff;
        
}
.action-mid .action-mid-item:nth-child(2) {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.action-mid .action-mid-item:nth-child(3) {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.action-mid .action-mid-item:first-child {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 0;
    background: none;
    border: none;
    position: relative;
    
}
.action-link {
    color: #000;
    font-weight: 650;
    font-size: 1rem;
}
.action-link:hover {
    text-decoration: none;
    color: #000;
}

.list-header-mid .head-mid-item:nth-child(3):hover .action-mid {
    opacity: 1;
    visibility: visible;
}
/* responsive head-mid*/
@media only screen and (max-width:1345px) {
    .search {
        width: 25%;
        position: relative;
    }
}
@media only screen and (max-width:1245px) {
    .search {
        width: 20%;
        position: relative;
    }
}
@media only screen and (max-width:1190px) {
    .head-mid-item {
        
        margin: 0 0.5rem;
        
    }
}
@media only screen and (max-width:1135px) {
    .head-mid-item {
        
        margin: 0 0.5rem;
        
    }
    .branch-logo {
        font-size: 1.2rem;    
    }
    .branch-logo-content {
        font-size: 0.8rem;
 
    }
    .head-mid {
        padding: 0 5rem;
    }
}
@media only screen and (max-width: 678px) {
    .head-mid {
        padding: 0.5rem 3rem;
    }
    .list-header-mid .head-mid-item:nth-child(3) .action-mid {
        left: -235%;
        border: 1px solid;
        width: 350%;
        
    }
    .list-header-mid .head-mid-item:nth-child(3) .action-mid  .action-mid-item:first-child >span {
        left: 75%;
    }
}
@media only screen and (max-width: 520px) {
    .head-mid {
        padding: 0.5rem 1rem;
    }
}
@media only screen and (max-width: 440px) {
    .head-mid {
        padding: 0.5rem 0.5rem;
    }
    .branch-logo {
        font-size: 0.9rem;
    }
    .icon-logo {
        font-size: 3rem;
    }
    .list-menu .list-menu-item > .fa-bars  {
        font-size: 1.8rem;
    }
}

/* end responsive */
/* head-bottom */
.head-bottom {
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    border-bottom: 1px solid #dddddd;
    background: #fff;    
    z-index: 5;
    padding-left: 8rem;
}

.head-bottom-item.active {
    background: #ffe300;
}
li.drop-item:hover {
    background: #ffe300;
}
.head-bottom-link {
    color: #000;
    font-weight: 650;  
    display: flex;
    align-items: center; 
}
.head-bottom-link:hover {
    color: #000;
    text-decoration: none;
}
.head-bottom-item {
    padding: 0.72rem 1rem;
    
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    position: relative;
}
.head-bottom-item:hover {
    background: #ffe300;
}

.head-bottom-link >.fa-bars {
    font-size: 2rem;
}
.head-bottom-link > .fa-angle-down {
    margin-left: 0.7rem;
}
/* drop */
.list-drop-menu {
    position: absolute;
    top:100%;
    left: -40%;
    width: 180%;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 8px 0px;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    z-index: 999;
    background: #fff;
}
.head-bottom-item:hover .list-drop-menu {
    opacity: 1;
    visibility: visible;
}
.list-drop-menu > li {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
}
.list-drop-menu-item {
    width: 100%;
}
.drop-item {
    padding: 0.3rem 1.8rem 0.3rem 0.5rem;
    border-bottom: 1px solid #dddddd;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.drop-link {
    color: #000;
}
.drop-link:hover {
    color: #000;
    text-decoration: none;
}
.list-drop-menu-item .drop-item:first-child {
    font-size: 1.1rem;
    font-weight: 550;
}

/* menu hide */
.overflow {
    width: 100%;
    height: 100%;
    overflow: visible;
}
.list-menu-item {
    position: relative;
}
.list-menu-drop {
    position: fixed;
    border: 1px solid;
    top: 0;
    left: -100%;
    height: 100%;
    z-index: 99;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    overflow-y: scroll;
}
.bg-list {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0,0.4);
    position: fixed;
    z-index: 98;
    top: 0;
    left: 0;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    transition-delay: 2s;
    display: none;
}
.list-menu-drop > .head-bottom-item:first-child {
    display: flex;
    font-size: 1.5rem;
}

.list-menu-drop >  .head-bottom-item .list-drop-menu {
    display: block;
}
.show-menu {
    display: block;
}
.list-menu-drop > .head-bottom-item:nth-child(2) {
    background-image: url(../../Image/login.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3rem 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    
  
} 
.list-menu-drop > .head-bottom-item:nth-child(2):after {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0,0.4);
    content: '';
} 
.list-menu-drop > .head-bottom-item:nth-child(2) .action {
    width: 100%;
    height: 100%;
    z-index: 55;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}
.welcome {
    display: inline-block;
    margin: 1.5rem 0;
    
}
.action-btn {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.action-item {
    display: inline-block;
    border: 1px solid #fff;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    padding: 1rem;
    width: 45%;
}
.action-item:hover {
    color: #fff;
    text-decoration: none;
}
.user .icon-user .fa-user {
    font-size: 2rem;
}

/* responsive */
@media only screen and (max-width:992px) {
    .overflow {
        overflow: hidden;
    }
    .cart {
        background: none;
    }
    .fa-shopping-bag {
        font-size: 2rem;
    }
    .head-bottom {
        display: none;
    }
    .head-bottom-item.active {
        background: #fff;
    }
    .head-bottom-item:hover {
        background: #fff;
    }
    .list-drop-menu {
        position: static;
        width: max-content;
        box-shadow: 0 0 0 0 #fff ;
        margin-top: 1rem;
        display: block;
    }
    
    .list-drop-menu > li {
        flex-direction: column;
    }
    .list-menu-drop.show-menu{
        border: 1px solid;
        background: #fff;
        width: 50%;
        left: 0;
        

    }
    .head-mid .search:nth-child(3) {
        display: none;
    }
    .head-mid .search:nth-child(5) {
        display: block;
        width: 100%;
        margin-bottom: 1rem;
    }
    .head-mid-item:nth-child(1),.head-mid-item:nth-child(2) {
        display: none;
    }
    .list-menu {
        display: block;
    }
    .head-bottom-item {
        border-bottom: 1px solid rgb(194, 181, 181);
    }
    .bg-list.show-bg {
        display: block;
    }
    .icon-user {
        width: 60px;
        height: 60px;
        background: #cfcfd4;
        color: #fff;
       
    }
    .overflow {
        height: 100vh;
        overflow: hidden;
    }

}
@media only screen and (max-width:640px) {
    .branch {
        display: none;
    }
}
@media only screen and (max-width:630px) {
    .list-menu-drop.show-menu{
        width: 100%;
    }
}